# Direktorijumi koje generiše Visual Studio / Build
[Dd]ebug/
[Rr]elease/
[B]in/
[I]nt/
.vs/                   # Direktorijum za Visual Studio 2017+ (lokalni podaci)

# Privremeni fajlovi i keš
*.obj
*.pdb
*.log
*.ilk
*.cache
*.temp

# Izvršni fajlovi i biblioteke
*.exe
*.dll
*.lib

# Fajlovi korisničkih/lokalnih podešavanja (specificni za računar/korisnika)
*.user             # Korisnička podešavanja projekta
*.suo              # Stari Visual Studio Solution User Options
*.ncb
*.aps

# NuGet / Package Manager fajlovi
packages/
*.nupkg